<h1> 1. ng-if TEST </h1>
<div *ngIf="true">
  test
</div>


<div *ngIf="false">
  test
</div>

<h1> 2. ng-template TEST </h1>
<p>ng-template start</p>
<ng-template>
  <p>ng-template 변환 테스트 </p>
</ng-template>
<p>ng-template end</p>



<ng-template [ngIf]="true">
  <p>ng-template 변환 테스트 001 </p>
</ng-template>

<ng-template [ngIf]="false">
  <p>ng-template 변환 테스트 002 </p>
</ng-template>



<!-- ng-container -->

<div>
  <h1> 3. ng-container TEST[적용전] </h1>
  <ul *ngFor="let user of users">
    <li *ngIf="user.length > 1">
      {{user}}
    </li>
  </ul> 

</div>

<div>
    <h1> 4. ng-container TEST[적용후] </h1>

    <ng-container *ngFor="let user of users">
        <ng-container  *ngIf="user.length > 1">
          {{user}}
        </ng-container>
    </ng-container> 
     
</div>


